 .course h2 {
     font-family: Enriqueta;
     font-size: xx-large;
     font-weight: 700;

 }

 .course {
     text-align: center;
    padding: 2% 17%;
 }




 .course h3 {
     font-family: Charmonman;
     font-weight: 700;
 }

 .course a {
     box-sizing: border-box;
     border: 3px solid rgb(172, 154, 125);
     background-color: rgb(251, 228, 199);
     padding: 1% 4%;
     border-radius: 20%;
     color: rgb(0, 0, 0);

 }

 .links {
     display: flex;
     justify-content: space-between;
     padding: 0 20%;
 }